.box:hover {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 8px navajowhite;
   /* transform: rotate(15deg);*/
}
.box{
    position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	margin-right: -4px; 
	cursor: pointer;
    width: 100px;
    height: 100px;
}

#firstBox {
    width: 100px;
    height: 100px;
    background: coral;
    transition: width 2s, height 2s, transform 2s;
}
#secondBox {
    width: 100px;
    height: 100px;
    background: blueviolet;       
}
@keyframes test1 {
    0%   {background-color:red; left:0; top:0;}
    25%  {background-color:yellow; left:0; top:0;}
    50%  {background-color:blue; left:0; top:400px;}
    75%  {background-color:green; left:0; top:400px;}
    100% {background-color:red; left:0; top:0;}
}
#thirdBox {
    width: 100px;
    height: 100px;
    background: seagreen;
}
#thirdBox:hover {
    width: 100px;
    height: 100px;
    animation-name: test1;
    animation-duration: 3s;
 }
#fourthBox {
    width: 100px;
    height: 100px;
    background: chartreuse;
    transition: height 2s;
 }  
#fourthBox:hover {
    width: 100px;
    height: 600px
 }
#fifthBox {
    width: 100px;
    height: 100px;
    background: fuchsia;
    transition: width 2s, height 2s, transform 2s;
}
#fifthBox:hover {
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
}
#sixthBox {
    width: 100px;
    height: 100px;
    background: cyan;
    transition: width 2s, height 2s, transform 2s;
}
@-webkit-keyframes test2 {
    0%   {background-color:red; left:0; top:0;}
    25%  {background-color:yellow; left:200px; top:0;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0; top:200px;}
    100% {background-color:red; left:0; top:0;}
}
#sixthBox:hover {
    animation: test2 3s linear 0.1s infinite alternate;
}
@-webkit-keyframes test3 {
    0%   {background-color:palevioletred; left:0; top:0;}
    25%  {background-color:orange; left:0; top:0; right:1px;}
    50%  {background-color:white; left:200px; top:200px;}
    75%  {background-color:green; left:0; top:200px;}
    100% {background-color:red; left:0; top:0;}
}
#seventhBox {
    width: 100px;
    height: 100px;
    background: palevioletred;
    transition: width 2s, height 2s, transform 2s;
}
#seventhBox:hover {
    animation: test3 3s linear 0.1s infinite;
}
@-webkit-keyframes bandymas4 {
    0%   {background-color:palevioletred; left:0; top:0;}
    25%  {background-color:orange; left:0; top:0; right:1px;}
    50%  {background-color:white; left:200px; top:200px;}
    75%  {background-color:green; left:0; top:200px;}
    100% {background-color:red; left:0; top:0;}
}
#eighthBox {
    width: 100px;
    height: 100px;
    background: burlywood;
    transition: width 2s, height 2s, transform 2s;
}
#eighthBox:hover {
    animation: bandymas4 3s linear 0.1s infinite;
    transform: rotate(360deg);
}
#ninthBox {
    width: 100px;
    height: 100px;
    background: orange;
    transition: width 2s, height 2s, transform 2s;
}
#ninthBox:hover {
    animation: bandymas1 3s linear 0.1s infinite;
    transform: rotate(-180deg);
}
@keyframes test10 {
    0%   {background-color:maroon; left:0; top:0;}
    25%  {background-color:yellow; left:0; top:0;height: 400px;}
    50%  {background-color:maroon; left:0; top:400px; height: 100px;}    
    75%  {background-color:yellow; left:0; top:400px;}
    100% {background-color:maroon; left:0; top:0;}
}
#tenthBox {
    width: 100px;
    height: 100px;
    background: maroon;
    transition: width 2s, height 2s, transform 2s;
}
#tenthBox:hover {
    width: 100px;
    height: 100px;
    animation: test10 3s;
 }